header{
    //justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;

    a{
        margin: 0 auto;
        //padding-left: 50px;
        //align-self: flex-start;
    }
}
