header{
    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 0;
    margin-bottom: 3px; /*Léger débordement sur la section localisation/reservation pour l'ombre*/

    align-items: center;
    padding-left: 60px;
    padding-right: 60px;

    a{
        text-decoration: none;
        color: black;

        margin: 0 auto;
    }
}

