@charset "UTF-8";
/*****Polices appliquées au site*****/
@font-face {
  font-family: "Roboto";
  src: url("../../ressources/polices/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../ressources/polices/Shrikhand-Regular.ttf");
}
header {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

section {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 0;
  margin-bottom: 3px;
  /*Léger débordement sur la section localisation/reservation pour l'ombre*/
}
header a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #353535;
}
footer p {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 20px 0px 0px 20px;
  margin-top: 0;
}
@media (min-width: 768px) {
  footer p {
    text-align: center;
  }
}
footer ul {
  padding: 0px 0px 25px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: -16px;
  /*Le stylesheet créé une marge du bas de 16px à la balise ul*/
}
@media (min-width: 768px) {
  footer ul {
    align-items: center;
  }
}
footer ul li {
  list-style: none;
  color: #ffffff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-bottom: 7px;
}
footer ul li .fa-utensils {
  padding: 5px;
}
footer ul li .fa-hands-helping {
  padding: 2px;
}

.btn {
  border-radius: 32px;
  padding: 20px 32px 20px 32px;
  color: white;
  background-color: #d16adb;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: none;
}
.btn span {
  font-size: 18px;
}

.section_localisation_reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.section_localisation_reservation .localisation {
  background-color: #eaeaea;
  margin-top: 16px;
}
.section_localisation_reservation .localisation .icone_et_lieu .saisie {
  outline: none;
  border: none;
  max-width: 110px;
  /*Taille de la saisie*/
  background-color: #eaeaea;
  padding: 10px;
}
.section_localisation_reservation .localisation .icone_et_lieu .saisie::placeholder {
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.section_localisation_reservation .reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_localisation_reservation .reservation h2 {
  text-align: center;
  margin-right: 45px;
  margin-left: 45px;
  margin-bottom: 5px;
}
.section_localisation_reservation .reservation p {
  text-align: center;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.section_localisation_reservation .reservation .btn {
  margin-bottom: 40px;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section_fonctionnement {
  margin-left: 16px;
  margin-right: 16px;
  counter-reset: fonctionnement_compteur;
  /*Compteur réinitialisé*/
}
@media (min-width: 1441px) {
  .section_fonctionnement {
    max-width: 1440px;
    margin: auto;
  }
}
.section_fonctionnement ol {
  list-style-type: none;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .section_fonctionnement ol {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  .section_fonctionnement ol #etape_1 {
    margin-left: 16px;
  }
}
@media (min-width: 768px) {
  .section_fonctionnement ol #etape_3 {
    margin-right: 16px;
  }
}
.section_fonctionnement ol li {
  background-color: #f6f6f6;
  margin-bottom: 25px;
  padding: 28px;
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .section_fonctionnement ol li {
    margin-bottom: 0px;
  }
}
@media (max-width: 900px) and (min-width: 768px) {
  .section_fonctionnement ol li {
    padding: 20px;
    margin-right: 30px;
    font-size: 14px;
  }
}
.section_fonctionnement ol li .fa-mobile-alt {
  margin-left: 10px;
  margin-right: 10px;
}
.section_fonctionnement ol li .fa-list-ul {
  margin-left: 8px;
  margin-right: 9px;
}
.section_fonctionnement ol li .fa-store {
  margin-left: 8px;
  margin-right: 10px;
  color: #9356dc;
}
.section_fonctionnement ol li::before {
  content: "" counter(fonctionnement_compteur);
  counter-increment: fonctionnement_compteur;
  /*Incrémentation compteur*/
  background-color: #9356dc;
  color: white;
  padding: 4px 9px 4px 9px;
  border-radius: 50%;
  margin-left: -42px;
}
.section_fonctionnement ol #etape_3 {
  background-color: #f5edff;
}

.section_restaurants {
  background-color: #f6f6f6;
}
.section_restaurants h2 {
  margin-left: 16px;
  margin-top: 70px;
  padding-top: 50px;
}
@media (min-width: 1441px) {
  .section_restaurants h2 {
    max-width: 1440px;
    margin: 70px auto 20px auto;
  }
}
.section_restaurants .gallerie_restaurants {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .section_restaurants .gallerie_restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .section_restaurants .gallerie_restaurants {
    justify-content: space-between;
  }
}
@media (min-width: 1441px) {
  .section_restaurants .gallerie_restaurants {
    max-width: 1440px;
    margin: auto;
  }
}
.section_restaurants .gallerie_restaurants .new {
  position: relative;
}
.section_restaurants .gallerie_restaurants .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  right: 16px;
  top: 16px;
  background-color: #99e2d0;
  color: #008766;
  display: grid;
  place-items: center;
  border-radius: 2px;
}
.section_restaurants .gallerie_restaurants a {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section_restaurants .gallerie_restaurants a {
    flex-basis: 25%;
    margin-right: 16px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .section_restaurants .gallerie_restaurants a {
    flex-basis: 10%;
  }
}
.section_restaurants .gallerie_restaurants a article {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
}
.section_restaurants .gallerie_restaurants a article img {
  height: 210px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
@media (min-width: 768px) {
  .section_restaurants .gallerie_restaurants a article img {
    width: 310px;
  }
}
.section_restaurants .gallerie_restaurants a article .description_restaurant {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-bottom: -10px;
}
.section_restaurants .gallerie_restaurants a article .description_restaurant h3, .section_restaurants .gallerie_restaurants a article .description_restaurant p {
  margin-bottom: 0px;
}
.section_restaurants .gallerie_restaurants a article .description_restaurant i {
  align-self: flex-end;
  position: relative;
  /*Pour gérer position coeurs*/
  bottom: 50px;
  right: 30px;
}

.section_carte {
  background-color: #f6f6f6;
}
.section_carte .carte_complete {
  position: relative;
  z-index: 1;
  bottom: 70px;
}
.section_carte .carte_complete .titre_et_coeur {
  padding-top: 10px;
  padding-bottom: 1px;
  background-color: white;
  border-radius: 32px 32px 0px 0px;
}
.section_carte .carte_complete .titre_et_coeur h2 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
.section_carte .carte_complete h3 {
  font-weight: normal;
  /*
  After crée un pseudo-élément qui sera le dernier enfant de l'élément sélectionné.
  Il est souvent utilisé pour ajouter du contenu cosmétique à un élément, 
  en utilisant la propriété CSS content. Par défaut, ce contenu est de type « en ligne ».     */
}
.section_carte .carte_complete h3::after {
  content: "";
  /*Sinon, aucun affichage*/
  display: block;
  height: 3.5px;
  width: 47px;
  background-color: #99e2d0;
}
.section_carte .carte_complete .liste_choix_carte {
  display: flex;
  flex-direction: column;
}
.section_carte .carte_complete .liste_choix_carte article {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.section_carte .carte_complete .liste_choix_carte article h4, .section_carte .carte_complete .liste_choix_carte article p {
  margin-left: 10px;
}
.section_carte .carte_complete .liste_choix_carte article h4 {
  margin-bottom: 10px;
}
.section_carte .carte_complete .liste_choix_carte article p {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.section_carte .carte_complete .liste_choix_carte article p span {
  margin-right: 16px;
}
.section_carte .carte_complete .commande_bouton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_carte .carte_complete .commande_bouton .btn-commander {
  margin-top: 30px;
  padding: 20px 50px 20px 50px;
}

.titre_et_coeur > *, .entrees > *, .plats > *, .desserts > *, .commande_bouton > * {
  /*Tous sauf l'image*/
  margin-left: 16px;
  margin-right: 16px;
}

.img_presentation img {
  width: 100%;
  object-fit: cover;
  max-height: 304px;
}

/*# sourceMappingURL=style.css.map */
