.btn{
    border-radius: 32px;
    padding: 20px 32px 20px 32px;
    color: white;
    background-color: #d16adb;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: none;

    span{
        font-size: 18px;
    }
}