/*****Polices appliquées au site*****/
@font-face{
    font-family: 'Roboto';
    src: url('../../ressources/polices/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Shrikhand';
    src: url('../../ressources/polices/Shrikhand-Regular.ttf');
}
