
.loader {
    position:fixed; //Meme si l'on descend avec la molette, le loader ne disparait pas
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;       //Le loader recouvre toute la page, il faut utiliser une position non statique, ici elle est fixée
    display: flex;
    align-items: center;
    justify-content: center;
    
    animation: disparition;
    animation-duration: 2.1s;
    animation-fill-mode: forwards;  //Une fois l'animation terminée, le loader reste à l'état qu'il est à la fin de l'animation
    }

.loader .chargement{
    height: 25px;
    width: 25px;
    position: relative;
}

.chargement .balle{
    height: 25px;
    width: 25px;
    background: blue;
    position: absolute;
    border-radius: 50%;
}

.chargement .haut{
    background: $couleur-primaire;
    left: 0px;
    top: -25px;
    animation: anim_balle_haut 0.7s;
    animation-iteration-count: 3;
}

.chargement .droite{
    background: $couleur-secondaire;
    bottom: 0px;
    right: -25px;
    animation: anim_balle_droite 0.7s;
    animation-iteration-count: 3;
}

.chargement .bas{
    background: $couleur-primaire;
    bottom: -25px;
    right: 0px;
    animation: anim_balle_bas 0.7s;
    animation-iteration-count: 3;
}

.chargement .gauche{
    background: $couleur-terciaire;
    bottom: 0px;
    left: -25px;
    animation: anim_balle_gauche 0.7s;
    animation-iteration-count: 3;
}


@keyframes disparition {
    from{                   //0%
        visibility: visible;
    }
    to{                     //100%
        visibility: hidden;
    }
}

@keyframes anim_balle_haut {
    50%, 100%{
        top: 25px;
    }
}

@keyframes anim_balle_droite {
    50%, 100%{
        right: 25px;
    }
}

@keyframes anim_balle_bas {
    50%, 100%{
        bottom: 25px;
    }
}

@keyframes anim_balle_gauche {
    50%, 100%{
        left: 25px;
    }
}

    
