.section_restaurants{
    background-color: #f6f6f6;

    h2{
        margin-left: 16px;
        margin-top: 70px;
        padding-top: 50px;
        @media (min-width: 1441px){
            max-width: 1440px;
            margin: 70px auto 20px auto;
        }
    }

    .gallerie_restaurants{
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        @media (min-width: 768px){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (min-width: 1024px){
            justify-content: space-between;
        }

        @media (min-width: 1441px){
            max-width: 1440px;
            margin: auto;
        }

        .new{
            position: relative; //Ce parent doit être en position relative pour permettre une position absolute à l'enfant

            &::before{  //pseudoÉlement
                content: "Nouveau";    //Obligatoire 
                position: absolute;
                height: 32px;
                width: 80px;
                right: 16px;
                top: 16px;
                background-color: #99e2d0;
                color: #008766;
                display: grid;
                place-items: center;    //Éléments centrés horizontalement et verticalement
                border-radius: 2px;

            }
        }

        a{
            text-decoration: none;
            color: black;
            margin-bottom: 20px;
            transition-duration: 0.3s;

            &:hover{
                transform: scale(1.10);
            }
            @media (min-width: 768px){
                flex-basis: 25%;
                margin-right: 16px;
                margin-bottom: 50px;
            }
            @media (min-width: 1024px){
                flex-basis: 10%;
            }

            article{
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 16px;

                img{
                    height: 210px;
                    object-fit: cover;
                    border-radius: 16px 16px 0px 0px;
                    @media (min-width: 768px){
                        width: 310px;
                    }
                }


                .description_restaurant
                {
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;
                    margin-bottom: -10px;

                    h3, p{
                        margin-bottom: 0px;
                    }


                    i{
                        align-self: flex-end;
                        position: relative; /*Pour gérer position coeurs*/
                        bottom: 50px;
                        right: 30px;
                        
                    }
                }

            }
        }
    }
}