.section_carte{
    background-color: #f6f6f6;

    .carte_complete{
        position: relative;
        z-index: 1;
        bottom: 70px;
        .titre_et_coeur{
            padding-top: 10px;
            padding-bottom: 1px;    //Evite d'avoir une barre 
            background-color: white;
            border-radius: 32px 32px 0px 0px;
            

            h2{
                font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
                font-weight: normal;
                display: flex;
                justify-content: space-between;
                margin-right: 30px;
            }
        }

        .entrees_plats_desserts{
            display: flex;
            flex-direction: column;

            //display: grid;
            //grid-template-columns: 1fr;
            //grid-template-rows: repeat(3, 1fr);
            //grid-template-areas:
            //    "entrees"
            //    "plats"
            //    "desserts";

                //place-items: center;

            @media (min-width: 1024px){
                //flex-direction: row;
                //justify-content: space-around;

                //grid-template-columns: repeat(3, 1fr);
                //grid-template-rows: 1fr;
                //grid-template-areas: 
                //    "entrees        plats       desserts";
            }

            @media (min-width: 1441px){
                max-width: 1440px;
                margin: auto;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-template-areas: 
                    "entrees        plats       desserts";
            }


            .entrees{
                grid-area: entrees;
                
                /*****ANIMATION*****/
                animation-name: anim_apparition_progressive; //Penser à rajouter webkit
                animation-duration: 1s;
                animation-timing-function: ease;
                animation-delay: 0s;
                animation-iteration-count: 1;
                animation-direction: normal;
            }

            .plats{
                grid-area: plats;

                /*****ANIMATION*****/
                animation-name: anim_apparition_progressive; //Penser à rajouter webkit
                animation-duration: 1s;
                animation-timing-function: ease;
                animation-delay: 1s;
                animation-iteration-count: 1;
                animation-direction: normal;
            }

            .desserts{
                grid-area: desserts;

                /*****ANIMATION*****/
                animation-name: anim_apparition_progressive; //Penser à rajouter webkit
                animation-duration: 1s;
                animation-timing-function: ease;
                animation-delay: 2s;
                animation-iteration-count: 1;
                animation-direction: normal;
            }

            h3{
                font-weight: normal;

                /*
                After crée un pseudo-élément qui sera le dernier enfant de l'élément sélectionné.
                Il est souvent utilisé pour ajouter du contenu cosmétique à un élément, 
                en utilisant la propriété CSS content. Par défaut, ce contenu est de type « en ligne ».     */
                &::after{       //Permet de créer une barre bleu turquoise
                    content: "";    /*Sinon, aucun affichage*/
                    display: block;
                    height: 3.5px;
                    width: 47px;
                    background-color: #99e2d0;
                }
            }

            .liste_choix_carte{
                display: flex;
                flex-direction: column;
                //position: relative;
                //overflow: hidden;

                article{
                    margin-bottom: 20px;
                    background-color: white;
                    border-radius: 20px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    display: flex;
                    flex-direction: column;
                    //max-width: 448px;
                    position: relative;
                    overflow: hidden;
                    transition: 1s ease-in;

                    &:hover{
                        .check_anim{
                            //margin-right: auto;
                            width: auto
                            
                        }
                    }

                    h4, p{
                        margin-left: 10px;
                    }

                    h4{
                        margin-bottom: 10px;
                    }

                    p{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 0;
                        text-overflow: ellipsis;
                        white-space: nowrap;    //Passage automatique a la ligne supprimé
                        overflow: hidden;

                        span{
                            margin-right: 16px;
                            /*****ANIMATION*****/
                            animation-name: anim_slide-left;
                            animation-duration: 10s;
                            animation-timing-function: ease;
                            animation-delay: 4s;
                            animation-iteration-count: 1;
                            animation-direction: normal;

                            
                        }
                    }

                    .check_anim{
                        
                        /*ORGANISATION*/
                        align-self: flex-end;
                        position: absolute;
                        height: 85px;
                        //width: 85px;
                        //margin-right: -85px;
                        width: 0px;
                        background-color: $couleur-terciaire;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        /*****ANIMATION*****/
                        /*
                        animation-name: anim_slide-left;
                        animation-duration: 10s;
                        animation-timing-function: ease;
                        animation-delay: 4s;
                        animation-iteration-count: 1;
                        animation-direction: normal;*/
                        transition: all 1s ease-in;


                        i{
                            color: white ;
                            
                            /*****ANIMATION*****/
                            animation-name: anim_rotation;
                            animation-duration: 10s;
                            animation-timing-function: ease;
                            animation-delay: 4s;
                            animation-iteration-count: 1;
                            animation-direction: normal;
                        }
                    }
                }
            }
        }
        .commande_bouton{
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn-commander{
                margin-top: 30px;
                padding: 20px 50px 20px 50px;
            }
        }
    }
}

.titre_et_coeur > *, .entrees > *, .plats > *, .desserts > *, .commande_bouton > *{ /*Tous sauf l'image*/
    margin-left: 16px;
    margin-right: 16px;
}


@keyframes anim_apparition_progressive {
    0%{
        opacity: 0;
        transform: translateY(10%); /*Arrive vers le haut*/
    }

    100%{
        opacity: 1;
    }
}

@keyframes anim_slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100px);
    }
  }

@keyframes anim_rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
  }


  
  