.section_carte{
    background-color: white;

    .carte_complete{
        position: relative;
        z-index: 1;
        bottom: 70px;

        .titre_et_coeur{
            padding-top: 10px;
            padding-bottom: 1px;    //Evite d'avoir une barre 
            background-color: white;
            border-radius: 32px 32px 0px 0px;
            display: flex;
            position: relative;
            

            h2{
                font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
                font-weight: normal;
                margin-right: 30px;
            }

            a{
                text-decoration: none;
                color: black;

                i{
                    align-self: flex-end;
                    position: absolute; //Pour gérer position coeurs
                    right: 25px;
                    bottom: 25px;
                    top: 25px;
                }
            }
            
        }

        .entrees_plats_desserts{
            display: flex;
            flex-direction: column;

            .item_1{
                grid-area: entrees;
            }

            .item_2{
                grid-area: plats;
            }

            .item_3{
                grid-area: desserts;
            }

            h3{
                font-weight: normal;

                /*
                After crée un pseudo-élément qui sera le dernier enfant de l'élément sélectionné.
                Il est souvent utilisé pour ajouter du contenu cosmétique à un élément, 
                en utilisant la propriété CSS content. Par défaut, ce contenu est de type « en ligne ».     */
                &::after{       //Permet de créer une barre bleu turquoise
                    content: "";    /*Sinon, aucun affichage*/
                    display: block;
                    height: 3.5px;
                    width: 47px;
                    background-color: $couleur-terciaire;
                }
            }

            .liste_choix_carte{
                display: flex;
                flex-direction: column;

                a{
                    text-decoration: none;
                    color: black;
                    margin-bottom: 20px;
                    background-color: white;
                    border-radius: 20px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;

                    .item_description{
                        flex-grow: 1;   //L'élément prend toute la largeur disponible
                        overflow: hidden;
                    }

                    h4, p{
                        margin-left: 10px;
                        text-overflow: ellipsis;
                        white-space: nowrap;    //Passage automatique a la ligne supprimé
                        overflow: hidden;
                    }

                    h4{
                        margin-bottom: 10px;
                    }

                    p{
                        margin-top: 0;
                    }

                    .prix{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        strong{
                            margin-right: 16px;
                            padding-bottom: 16px;
                        }
                    }

                }
            }
        }

        .commande_bouton{
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn-commander{
                margin-top: 30px;
                padding: 20px 50px 20px 50px;
            }
        }
    }
}

.titre_et_coeur > *, .entrees > *, .plats > *, .desserts > *, .commande_bouton > *{ //Tout sauf l'image
    margin-left: 16px;
    margin-right: 16px;
}


@media (min-width: $brk_laptop_large){

    .section_carte{
        .carte_complete{
            .entrees_plats_desserts{
                max-width: 1440px;
                margin: auto;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-template-areas: 
                "entrees        plats       desserts";
    
                article{
                    max-width: 448px;   //Sinon, l'animation check élargie l'article
                }
            }
        }
    }
}