.section_restaurants{
    background-color: $couleur-grise;
    padding-bottom: 45px;

    h2{
        margin-left: 16px;
        margin-top: 70px;
        padding-top: 50px;
    }

    .gallerie_restaurants{
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);

        grid-template-areas: 
            "restaurant_la_palette_du_gout"
            "restaurant_la_note_enchantee"
            "restaurant_a_la_francaise"
            "restaurant_le_delice_des_sens";

        margin-left: 16px;
        margin-right: 16px;

        #restaurant_la_palette_du_gout{
            grid-area: restaurant_la_palette_du_gout;
        }

        #restaurant_la_note_enchantee{
            grid-area: restaurant_la_note_enchantee;
        }

        #restaurant_a_la_francaise{
            grid-area: restaurant_a_la_francaise;
        }

        #restaurant_le_delice_des_sens{
            grid-area: restaurant_le_delice_des_sens;
        }

        .new{
            position: relative; //Ce parent doit être en position relative pour permettre une position absolute à l'enfant

            span{
                position: absolute;
                height: 32px;
                width: 80px;
                right: 16px;
                top: 16px;
                background-color: $couleur-terciaire;
                color: #008766;
                display: grid;
                place-items: center;    //Éléments centrés horizontalement et verticalement
                border-radius: 2px;
            }
        }

        .restaurant{
            text-decoration: none;
            color: black;
            margin-bottom: 20px;
            transition-duration: 0.3s;

            &:hover{
                transform: scale(1.02);
            }


            article{
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 16px;

                img{
                    height: 210px;
                    object-fit: cover;
                    border-radius: 16px 16px 0px 0px;
                }

                .restaurant__description{
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;
                    margin-bottom: -10px;
                    position: relative;

                    h3, p{
                        margin-bottom: 0px;
                    }


                    i{
                        align-self: flex-end;
                        position: relative; //Pour gérer position coeurs
                        bottom: 50px;
                        right: 30px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px){
    .section_restaurants{
        .gallerie_restaurants{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
    
            grid-template-areas: 
                "restaurant_la_palette_du_gout          restaurant_la_note_enchantee"
                "restaurant_a_la_francaise              restaurant_le_delice_des_sens";

            .restaurant{
                flex-basis: 25%;
                margin-right: 16px;
                margin-bottom: 50px;
            }
        }
    }
}

@media (min-width: $brk_laptop){
    .section_restaurants{
        .gallerie_restaurants{
            .restaurant{
                flex-basis: 10%;
            }
        }
    }
}

@media (min-width: $brk_laptop_large){
    .section_restaurants{
        h2{
            max-width: 1440px;
            margin: 70px auto 20px auto;
        }

        .gallerie_restaurants{
            max-width: 1440px;
            margin: auto;

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
    
            grid-template-areas: 
                "restaurant_la_palette_du_gout          restaurant_la_note_enchantee            restaurant_a_la_francaise           restaurant_le_delice_des_sens";
        }
    }
}
