/*COULEURS*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-terciaire: #99E2D0;
$couleur-grise: #f6f6f6;

/*BREAKPOINTS*/
$brk_laptop_large: 1441px;
$brk_laptop: 1024px;
$brk_tablet: 768px;
